modules = ["nodejs-20"]
[deployment]
run = ["sh", "-c", "serve -s AdMaioraWebsite/dist/public"]
build = ["sh", "-c", "cd AdMaioraWebsite && npm run build"]

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[[deployment.responseHeaders]]
path = "/*"
name = "Cache-Control"
value = "no-store"

[workflows]
runButton = "Run Static Dev"

[[workflows.workflow]]
name = "Run Dev Server"
author = 40780561
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd AdMaioraWebsite && npm run dev"

[[workflows.workflow]]
name = "Run Static Dev"
author = 40780561
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd AdMaioraWebsite && npm run dev -- --host 0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80
